.TodoListItem-virtualized {
    & + & {
        //인접 형제 선택자로 알려진 선택기 조합, 동일한 클래스의 다른 요소 바로 뒤에 오는 .TodoListItem-virtualized 클래스의 요소를 선택
        border-top: 1px solid #dee2de;
    }
    &:nth-child(even) {
        //부모 컨테이너 내 짝수 위치에 있는 .TodoListItem-virtualized 요소를 선택
        background: #f8f9fa;
    }
}

.TodoListItem {
    padding: 1rem;
    display: flex;
    align-items: center; //세로 중앙 정렬
    &:nth-child(even) {
        background: #f8f9fa;
    }
    .checkbox {
        cursor: pointer; //커서가 가면 손가락 모양으로
        flex: 1; //차지 할 수 있는 영역 모두 차지
        display: flex;
        align-items: center;
        svg {
            //아이콘 설정
            font-size: 1.5rem;
        }
        .text {
            margin-left: 0.5rem;
            flex: 1;
        }

        //체크되었을 때 보여 줄 스타일
        &.checked {
            svg {
                color: #22b8cf;
            }
            .text {
                color: #adb5bd;
                text-decoration: line-through;
            }
        }
    }
    .remove {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #ff6b6b;
        cursor: pointer;
        &:hover {
            // 마우스 커서가 삭제 버튼 위에 갔을 때
            color: #ff8787;
        }
    }

    //엘리먼트 사이사이에 테두리를 넣어 줌(미세한 테두리)
    & + & {
        border-top: 1px solid #dee2de;
    }
}
