.BackgroundX {
    width: 100vw;
    height: 100vh;
    position: relative;

    .DivContainer {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; // 터치시 더 빠른 반응

        .DivBox {
            flex: 0 0 100%; // 자기영역 전체 자치, 줄어들지 않고 초기크기 100%
            scroll-snap-align: start;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .name {
                text-align: center;
                color: white;
            }
        }
    }
}

.BackgroundY {
    width: 100vw;
    height: 100vh;
    position: relative;

    .DivContainer {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;

        .DivBox {
            scroll-snap-align: start;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .name {
                text-align: center;
                color: white;
            }
        }
    }
}
