* {
    box-sizing: border-box;
}
/* box-sizing 속성은 html 요소 크기를 계산하는 방식, border-box 값은 요소의 크기를 내부 콘텐츠(content)와 테두리(border) 영역을 포함한 전체 박스의 크기로 계산 */

body{
    margin: 0;

    padding: 0;

    font-family: 'Noto Sans KR', sans-serif;;

}


a:link, a:visited{
    text-decoration: none;
    /* text-decoration: none;을 설정하였습니다. text-decoration 속성은 텍스트에 대한 장식을 지정하는데, none 값을 설정하여 밑줄(underline)이나 취소선(line-through)을 없앤 것 */
    color: black;
    /* 컬러는 블랙으로 설정 */
}

.container{
    width: 960px;
    /* 통상 960필셀정도 내용이 = 요소들 글씨 위치  300씩 3개 이지미 너비 나머지 30씩 두개 마진*/
    margin: 0 auto;
}



nav{
    height: 80px;
    background-color: crimson;
    line-height: 80px;
    /* 글자들이 너무 위쪽으로 붙음 위쪽 마진이 거의 0이라서 라인 하이트를 80을 줌 */
}

.nav-logo{
    font-size: 30px;
    float: left;
    /* float: left; float는 요소를 왼쪽으로 부유시켜 블록 레벨 요소를 인라인 레벨 요소처럼 배치 따라서 잡혀진 div해결 가능 */
    margin: 0; 
    /* 여백(가장 외곽)은 0을 설정  */
}

.nav-menu{
    float: right;
    /* float를 오른쪽으로 div 위로 부유시켜 오른쪽으로 붙임 */
}

.nav-btn{
    list-style-type: none;
    /* 불필요한 점을 없애기 위해서 list-style-type: none; */
    margin: 0;
    /* 여백을 0으로 설정 */
}

ul.nav-btn > li{
    float: left;
    /* float: left; float는 요소를 왼쪽으로 부유시켜 블록 레벨 요소를 인라인 레벨 요소처럼 배치 따라서 잡혀진 div해결 가능 3개의 li을  */
    margin-left: 25px;
    font-size: 20;
    font-size: bold;
}

nav::after{
    content: "";
    display: block;
    clear: both;
    /* float 왼쪽 오른쪽이 튀어나가지 않도록 도와줌 */
}


/* header */
.hd{
    position: relative;
    height: 600px;
    text-align: center;
    /* 텍스트 위치를 가운데로 */
}

.hd-title{
    font-size: 80px;
    /* POSSIBILITY TO REALITY!의 폰트 사이즈를 측정 */
    margin-top: 0;
    /* POSSIBILITY TO REALITY! 위쪽 마진을 0 */
    margin-bottom: 30px;
    /* POSSIBILITY TO REALITY! 아래쪽 마진을 20 */
    padding-top: 200px;
    /* 요소를 깨드리지 않기 위해 패딩을 씀 내용과 보더 사이*/
}

.hd-content{
    font-size: 25px;
    /* 여러분을 응원합니다 폰트 사이즈를 25 */
}

.hd::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    /* 투명도 설정 1이면 투명도가 없음 */
    background-image: url("./header-img.jpeg");
    background-size: cover;
    background-position: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* 백그라운드 이미지의 위치 설정 반복안함 */
}

.hd .container{
    /* cotainer가 여러군데 있기 때문에 hd에만 있는 것을 확정짓기 위해서 두 개의 헤더를 씀 */
    position: relative;
    color: black;
}


/* section */
.sec{
    text-align: center;
    padding: 100px 0;
    background-color: #ffe4c4;
}

.sec article{
    float: left;
    width: 300px;
    margin-right: 30px;
}

.sec article:last-child{
    /* 마지막 요소만 선택 */
    margin-right: 0;
    /* 마지막 3번째 사진에 대해서는 마진을 안잡은 왜나하면 60을 채워야되기 때문에 */
}

/* 덮어쓸 내용은 항상 밑에 적어줘야됨 */

.sec article img{
    width: 100%;
    height: auto;
}

.card-img{
    overflow: hidden;
    height: 300px;
    width: 300px;
    /* 이미지 사이즈를 300 300으로 제한 */
}

.sec::after{
    content: "";
    display: block;
    clear: both;
    /* 여기까지는 공식 */
}

/* footer */
.ft{
    padding: 15px;
    text-align: center;
    background-color: #eb617c;
    font-weight: bold;
}
